<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdrianTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D6BDE2E71FD7328600238CE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6BDE2FB1FD7328600238CE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6BDE3061FD7328700238CE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
